<aside class="col-sm-2 no-padding-column">
    <div class="collapse navbar-nav navbar-collapse navbar-collapse-2 left-menu " id="left-menu">
        <ul class="nav nav-list primary" id="menu">
            <li><a href="#">Tools</a></li>
            <li>
                <a href="#">BI</a>
            </li>
            <li>
                <a href="#">BPO</a>

            </li>
            <li>
                <a href="#">Boost</a>
            </li>

            <li>
                <a href="#">CB Store</a>
            </li>

            <li>
                <a href="#">CB Reps Targets</a>
            </li>
            <li>
                <a href="#">ECommerce</a>
            </li>
            <li>
                <a href="#">Emission Calculator</a>
            </li>

            <li style="background-color:#003150">
                <a href="#">Foreight Rates</a>
            </li>
            <li style="background-color:#003150">
                <a href="#">Marketing Campaign</a>
            </li>

            <li style="background-color:#003150">
                <a href="#">Navigator</a>
            </li>

            <li style="background-color:#003150">
                <a href="#">Salesforce</a>
            </li>
            <li style="background-color:#003150">
                <a href="#">Sales Configurator</a>
            </li>
            <li style="background-color:#003150">
                <a href="#">Sales Meeting Presentatitons </a>
            </li>

            <li style="background-color:#003150">
                <a href="#">Stack Chaser</a>
            </li>
            <li style="background-color:#003150">
                <a href="#">Strategic Accounts</a>
            </li>
            <li style="background-color:#003150">
                <a href="#">Support</a>
            </li>
            <li style="background-color:#003150">
                <a href="#">Trade Leads</a>
            </li>
            <li style="background-color:#003150">
                <a href="#">Webinars</a>

            </li>

        </ul>
    </div>
</aside>