<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the CleaverBrooks</h2>


@Html.Partial("CarouselPartial")